# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Environments
.env
.venv/
env/
venv/

# OS / editor
.DS_Store
.vscode/
.idea/

# Git
.git
.gitignore

# Byte-compiled
*.egg-info/
dist/
build/